[Match]
Name=facts0
[Network]
KeepConfiguration=yes
Address=192.0.2.10/24
Address=2001:db8::10/64
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no
ConfigureWithoutCarrier=yes
DNS=192.0.2.53
NTP=192.0.2.123
Domains=example.test
[Route]
Destination=192.0.2.0/24
Table=100
[Route]
Destination=2001:db8::/64
Table=100
[RoutingPolicyRule]
From=192.0.2.10
Priority=12345
Table=100
[RoutingPolicyRule]
From=2001:db8::10
Priority=12345
Table=100
